h1{
    color:cyan;
    text-align: center;
    font-size: 70px;
    letter-spacing: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: black;
}
button{
    margin:35px;
    padding:15px;
    font-size:35px;
    background-color:aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.buttons{
    justify-content:center;
    display:flex;
}